/* VARIABLES COMMUNES START */

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --button-color: #8f1d28;
  --hover-color: #cc0200;
  --light-dark: rgba(0, 0, 0, 0.7);
  --light-dark-2: rgba(0, 0, 0, 0.4);
  --light-white: rgba(255, 255, 255, 0.7);
  --light-white-2: rgba(255, 255, 255, 0.4);

  --spacing: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;

  --text-font-size: 16px;
  --title1-font-size: 32px;
  --title2-font-size: 28px;
  --title3-font-size: 24px;

  --font-family-text: "Quicksand", sans-serif;
  --font-family-title: "Rubik Mono One", sans-serif;

  /* VARIABLES COMMUNES END */
}

/* SETTINGS START */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-text);
  color: var(--color-main);
  background-color: #1a1a1a;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--button-color);
  text-decoration: none;
}

a:active {
  color: var(--button-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.target {
  display: none;
}

/* SETTINGS END */

/* SLIDER START */

section.section-competences {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/background.jpg);
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.div-titre {
  display: flex;
  justify-content: left;
  font-family: var(--font-family-title);
  color: var(--secondary-color);
  font-size: 2em;
  line-height: 1.5em;
  width: 700px;
  max-width: 50%;
  min-width: 300px;
  height: auto;
  padding-bottom: 2rem;
  transition: all 1s;
}

.div-cadre-diapo {
  display: flex;
  flex-direction: column;
  width: 700px;
  max-width: 50%;
  min-width: 300px;
  overflow: hidden;
  border-radius: 2%;
  background: #000000;
  box-shadow: 5px 5px 60px #0c0c0c, -5px -5px 60px #000000;
  transition: all 1s;
}

.div-interieur-diapo {
  display: flex;
  width: 400%;
  transition: transform 0.6s ease-in-out;
}

.div-description {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 1s;
}

.div-description-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 100%;
  width: 1000px;
  max-width: 50%;
  min-width: 300px;
  padding: 3rem;
  margin: 0 2rem 0 2rem;
  text-align: center;
  color: white;
  font-family: var(--font-family-text);
  background: hsla(0, 0%, 0%, 0.74);
  border-radius: 2%;
  transition: all 1s;
}

.div-description span {
  position: absolute;
  bottom: 5%;
  font-size: 100%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  margin: 0 2rem 0 2rem;
  text-align: center;
  color: white;
  font-family: var(--font-family-text);
  background: hsla(0, 0%, 0%, 0.74);
  transition: all 1s;
}

.div-description-mobile span {
  bottom: 5%;
  font-size: 100%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  margin: 0 2rem 0 2rem;
  text-align: center;
  color: white;
  font-family: var(--font-family-text);
  background: hsla(0, 0%, 0%, 0.74);
  transition: all 1s;
}

.div-description-mobile img {
  width: 100%;
  height: auto;
  transition: all 1s;
}

#votre_id1:target ~ .section-competences .div-cadre-diapo .div-interieur-diapo {
  transform: translatex(0);
}

#votre_id2:target ~ .section-competences .div-cadre-diapo .div-interieur-diapo {
  transform: translatex(-25%);
}

#votre_id3:target ~ .section-competences .div-cadre-diapo .div-interieur-diapo {
  transform: translatex(-50%);
}

#votre_id4:target ~ .section-competences .div-cadre-diapo .div-interieur-diapo {
  transform: translatex(-75%);
}

.ul-navigation_diapo {
  display: flex;
  list-style-type: none;
  width: 100%;
  margin: auto;
  padding: 0;
  transition: all 1s;
}

.ul-navigation_diapo li {
  padding: 0.25rem;
  transition: all 1s;
}

.ul-navigation_diapo img {
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.4);
  border-radius: 8%;
  transition: all 1s;
}

.empty {
  display: flex;
  width: 100vh;
  height: 100px;
}
/* SLIDER END */

/* MEDIA QUERIES START */

@media all and (min-width: 1024px) {
  .div-description-mobile {
    display: none;
    transition: all 1s;
  }
}

@media all and (max-width: 768px) {
  .div-description span {
    display: none;
    transition: all 1s;
  }
  .div-description-mobile span {
    background-color: rgba(0, 0, 0, 0);
    padding: 1em 0 0em 0em;
    margin: 0;
    transition: all 1s;
  }
  .div-cadre-diapo {
    display: none;
    transition: all 1s;
  }
  section.section-competences {
    justify-content: flex-start;
    transition: all 1s;
  }
  .div-titre {
    padding-top: 20%;
    transition: all 1s;
  }
  .div-description-mobile {
    margin-bottom: 5%;
    transition: all 1s;
  }
}

@media all and (min-width: 768px) {
  .div-description-mobile {
    display: none;
    transition: all 1s;
  }
}

@media all and (max-width: 320px) {
}

/* MEDIA QUERIES END */
