/* VARIABLES COMMUNES START */

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --button-color: #8f1d28;
  --hover-color: #cc0200;
  --light-dark: rgba(0, 0, 0, 0.7);
  --light-dark-2: rgba(0, 0, 0, 0.4);
  --light-white: rgba(255, 255, 255, 0.7);
  --light-white-2: rgba(255, 255, 255, 0.4);

  --spacing: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;

  --text-font-size: 16px;
  --title1-font-size: 32px;
  --title2-font-size: 28px;
  --title3-font-size: 24px;

  --font-family-text: "Quicksand", sans-serif;
  --font-family-title: "Rubik Mono One", sans-serif;

  /* VARIABLES COMMUNES END */
}

/* SETTINGS START */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-text);
  color: var(--color-main);
  background-color: var(--primary-color);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--button-color);
  text-decoration: none;
}

a:active {
  color: var(--button-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
  text-decoration: none;
}

/* SETTINGS END */

main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../img/lost-places-bg-profil.jpg);
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.first {
  width: 100vw;
  height: auto;
  display: flex;
  margin: 4em 0em 2em 0em;
}

.block1 {
  width: 90vw;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #e0dcdc11;
  box-shadow: 20px 20px 60px #000000, -20px -20px 60px #000000;
}

.img-block1 {
  width: 40vw;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0em 0em 3em 2em;
}

.img-block1 img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #020202, -20px -20px 60px #000000;
}

.block1 p {
  width: 50vw;
  height: auto;
  display: flex;
  color: #e0e0e0;
  font-size: 1.2em;
  padding: 4em;
  text-align: justify;
}

.block1 h3 {
  font-family: var(--font-family-title);
  color: var(--secondary-color);
  font-size: 1.3em;
  padding: 2em 0em 1em 0em;
}

.second {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: flex-end;
  margin: 2em 0em 2em 0em;
}

.block2 {
  width: 90vw;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #e0dcdc11;
  box-shadow: 20px 20px 60px #000000, -20px -20px 60px #000000;
}

.img-block2 {
  width: 40vw;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0em 2em 3em 0em;
}

.img-block2 img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #020202, -20px -20px 60px #000000;
  margin-bottom: 1em;
}

.block2 p {
  width: 50vw;
  height: auto;
  color: #e0e0e0;
  font-size: 1.2em;
  padding: 4em;
  text-align: justify;
}

.block2 h3 {
  font-family: var(--font-family-title);
  text-align: right;
  color: var(--secondary-color);
  font-size: 1.3em;
  padding: 2em 0em 1em 0em;
}

.third {
  width: 100vw;
  height: auto;
  display: flex;
  margin: 2em 0em 10em 0em;
}

.block3 {
  width: 90vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #e0dcdc11;
  box-shadow: 20px 20px 60px #000000, -20px -20px 60px #000000;
  margin: 0 auto;
  padding: 20px;
}

.img-block3-1 img {
  width: 20vw;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #020202, -20px -20px 60px #000000;
}

.img-block3-2 img {
  width: 20vw;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #020202, -20px -20px 60px #000000;
}

.block3 p {
  width: 50vw;
  height: auto;
  color: #e0e0e0;
  font-size: 1.2em;
  padding: 4em;
  text-align: justify;
}

.block1,
.block2,
.block3 {
  background-color: rgba(204, 3, 0, 0.3);
}

@media screen and (max-width: 1140px) {
  .block1 h3,
  .block2 h3 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 768px) {
  .block1,
  .block3 {
    display: flex;
    flex-direction: column;
  }
  .block2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .img-block1,
  .img-block2,
  .img-block3-1 img,
  .img-block3-2 img {
    width: 90%;
    padding: 0;
  }
  .img-block3-1,
  .img-block3-2 {
    padding: 0 0 0 var(--spacing-5);
  }
  .block1 h3,
  .block2 h3 {
    font-size: 1.2em;
  }
  .block1 p,
  .block2 p {
    width: 90%;
    padding: 2em;
  }
  .block3 p {
    width: 90%;
    padding: 3em;
  }
}
@media screen and (max-width: 425px) {
  .block1 h3,
  .block2 h3 {
    font-size: 1em;
  }
  .block3 p {
    padding: 2em;
  }
}
